workspace-dwh/loadSourceData.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "d844dc61-89ef-412d-905a-2a937c6aee53",
          "workspaceId": "6db8acd3-f954-465c-b74e-6c155204510c",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Dataflow - customer - STG",
        "description": "Load data from ODS to STG",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Copy data - customer - ODS",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "01422db5-8128-4129-97e6-1cc1bce8b163",
          "workspaceId": "6db8acd3-f954-465c-b74e-6c155204510c",
          "parameters": {
            "param_table_dim": {
              "value": "customer",
              "type": "string"
            },
            "param_surogate_key": {
              "value": "customer_rk",
              "type": "string"
            },
            "param_business_key": {
              "value": "CustomerId",
              "type": "string"
            },
            "param_sample_date": {
              "value": {
                "value": "@variables('sample_date')",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SCD2 - customer_dim",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Dataflow - customer - STG",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@concat('Adventures_sample/AdventureWorks_',variables('sample_date'))",
                    "type": "Expression"
                  },
                  "fileName": {
                    "value": "@concat('AdventureWorks_Products_',variables('sample_date'),'.csv')",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "MhaLakehouse2",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "47e30131-25d2-a6c9-4e46-1f84c399e8e0",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DataWarehouseSink",
            "preCopyScript": "truncate table ods.product",
            "allowCopyCommand": true,
            "copyCommandSettings": {},
            "disableMetricsCollection": false,
            "datasetSettings": {
              "type": "DataWarehouseTable",
              "typeProperties": {
                "schema": "ods",
                "table": "product"
              },
              "schema": [],
              "linkedService": {
                "name": "MhaWarehouse2",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "e68688dd-190e-4451-9c06-b46d7c5e06ba",
                    "endpoint": "hywuyaxauvqupogac6yriiqgbm-2owlq3ku7foenn2onqkvebcrbq.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "6db8acd3-f954-465c-b74e-6c155204510c"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data - product - ODS",
        "dependsOn": [
          {
            "activity": "Set variable1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "310b4117-c381-47a8-ad35-cfbe058b13d9",
          "workspaceId": "6db8acd3-f954-465c-b74e-6c155204510c",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Dataflow - product - STG",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Copy data - product - ODS",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "01422db5-8128-4129-97e6-1cc1bce8b163",
          "workspaceId": "6db8acd3-f954-465c-b74e-6c155204510c",
          "parameters": {
            "param_table_dim": {
              "value": "product",
              "type": "string"
            },
            "param_surogate_key": {
              "value": "product_rk",
              "type": "string"
            },
            "param_business_key": {
              "value": "ProductId",
              "type": "string"
            },
            "param_sample_date": {
              "value": {
                "value": "@variables('sample_date')",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SCD2 - product_dim",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Dataflow - product - STG",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "HttpReadSettings",
              "requestMethod": "GET"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "HttpServerLocation",
                  "relativeUrl": "Adventures/AdventureWorks_Product_Categories.csv"
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "externalReferences": {
                "connection": "1020b691-3704-4792-9e50-419f7fd29c98"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DataWarehouseSink",
            "tableOption": "autoCreate",
            "allowCopyCommand": true,
            "copyCommandSettings": {},
            "datasetSettings": {
              "type": "DataWarehouseTable",
              "typeProperties": {
                "schema": "ods",
                "table": "product_category"
              },
              "schema": [],
              "linkedService": {
                "name": "MhaWarehouse2",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "e68688dd-190e-4451-9c06-b46d7c5e06ba",
                    "endpoint": "hywuyaxauvqupogac6yriiqgbm-2owlq3ku7foenn2onqkvebcrbq.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "6db8acd3-f954-465c-b74e-6c155204510c"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data - ProductCategory - ODS",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "HttpReadSettings",
              "requestMethod": "GET"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "HttpServerLocation",
                  "relativeUrl": "Adventures/AdventureWorks_Product_Subcategories.csv"
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "externalReferences": {
                "connection": "1020b691-3704-4792-9e50-419f7fd29c98"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DataWarehouseSink",
            "tableOption": "autoCreate",
            "allowCopyCommand": true,
            "copyCommandSettings": {},
            "datasetSettings": {
              "type": "DataWarehouseTable",
              "typeProperties": {
                "schema": "ods",
                "table": "product_subcategory"
              },
              "schema": [],
              "linkedService": {
                "name": "MhaWarehouse2",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "e68688dd-190e-4451-9c06-b46d7c5e06ba",
                    "endpoint": "hywuyaxauvqupogac6yriiqgbm-2owlq3ku7foenn2onqkvebcrbq.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "6db8acd3-f954-465c-b74e-6c155204510c"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data - ProductSubCategory - ODS",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "HttpReadSettings",
              "requestMethod": "GET"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "HttpServerLocation",
                  "relativeUrl": "Adventures/AdventureWorks_Territories.csv"
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "externalReferences": {
                "connection": "1020b691-3704-4792-9e50-419f7fd29c98"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DataWarehouseSink",
            "tableOption": "autoCreate",
            "allowCopyCommand": true,
            "copyCommandSettings": {},
            "datasetSettings": {
              "type": "DataWarehouseTable",
              "typeProperties": {
                "schema": "ods",
                "table": "territory"
              },
              "schema": [],
              "linkedService": {
                "name": "MhaWarehouse2",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "e68688dd-190e-4451-9c06-b46d7c5e06ba",
                    "endpoint": "hywuyaxauvqupogac6yriiqgbm-2owlq3ku7foenn2onqkvebcrbq.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "6db8acd3-f954-465c-b74e-6c155204510c"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data - Territory - ODS",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "HttpReadSettings",
              "requestMethod": "GET"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "HttpServerLocation",
                  "relativeUrl": "Adventures/AdventureWorks_Sales_2015.csv"
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "externalReferences": {
                "connection": "1020b691-3704-4792-9e50-419f7fd29c98"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DataWarehouseSink",
            "tableOption": "autoCreate",
            "allowCopyCommand": true,
            "copyCommandSettings": {},
            "datasetSettings": {
              "type": "DataWarehouseTable",
              "typeProperties": {
                "schema": "ods",
                "table": "sales"
              },
              "schema": [],
              "linkedService": {
                "name": "MhaWarehouse2",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "e68688dd-190e-4451-9c06-b46d7c5e06ba",
                    "endpoint": "hywuyaxauvqupogac6yriiqgbm-2owlq3ku7foenn2onqkvebcrbq.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "6db8acd3-f954-465c-b74e-6c155204510c"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data - Sales - ODS",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "enablePartitionDiscovery": false
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@concat('Adventures_sample/AdventureWorks_',variables('sample_date'))",
                    "type": "Expression"
                  },
                  "fileName": {
                    "value": "@concat('AdventureWorks_Customers_',variables('sample_date'),'.csv')",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "MhaLakehouse2",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "c399e8e0-1f84-4e46-a6c9-25d247e30131",
                    "workspaceId": "6db8acd3-f954-465c-b74e-6c155204510c",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DataWarehouseSink",
            "tableOption": "autoCreate",
            "allowCopyCommand": true,
            "copyCommandSettings": {},
            "datasetSettings": {
              "type": "DataWarehouseTable",
              "typeProperties": {
                "schema": "ods",
                "table": "customer"
              },
              "schema": [],
              "linkedService": {
                "name": "MhaWarehouse2",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "e68688dd-190e-4451-9c06-b46d7c5e06ba",
                    "endpoint": "hywuyaxauvqupogac6yriiqgbm-2owlq3ku7foenn2onqkvebcrbq.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "6db8acd3-f954-465c-b74e-6c155204510c"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data - customer - ODS",
        "description": "Copy data of customer to ODS",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Set variable1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "sample_date",
          "value": "20150101"
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set variable1",
        "dependsOn": []
      }
    ],
    "variables": {
      "sample_date": {
        "type": "String",
        "defaultValue": "20150101"
      }
    }
  }
}